# <center> <u>**Quelques chiffres** </u></center>

# 1. Detection

In [24]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os


df = pd.read_csv('../datafiles/yolo/inputs/yolo_raw_dataset.csv')

df.head()

,path,xmin,ymin,xmax,ymax,label,width,height
0,BD_71/Dasypoda hirtipes/Dasypoda hirtipes53078...,43.571429,17.857143,488.00,460.507812,Dasypoda hirtipes,488,500
1,BD_71/Dasypoda hirtipes/Dasypoda hirtipes84465...,0.000000,1.757812,498.75,495.507812,Dasypoda hirtipes,500,500
2,BD_71/Dasypoda hirtipes/Dasypoda hirtipes78927...,0.000000,135.507812,367.50,449.257812,Dasypoda hirtipes,500,500
3,BD_71/Dasypoda hirtipes/eucera_chic_prof.jpg,37.500000,31.757813,411.25,478.007812,Dasypoda hirtipes,498,500
4,BD_71/Dasypoda hirtipes/Dasypoda hirtipes77381...,28.750000,10.507813,497.50,358.007812,Dasypoda hirtipes,500,373

# 2. Classification

In [5]:
df = pd.read_csv('../datafiles/classification/0710_classification_paths.csv',encoding_errors='ignore',sep=';',header=None)
df.columns = ['paths']

df['extensions'] = df['paths'].apply(lambda x : x.split('.')[-1])


df.head()

                                               paths extensions
0  ../../data_bees_detection/whole_dataset/inatur...        jpg
1  ../../data_bees_detection/whole_dataset/inatur...        jpg
2  ../../data_bees_detection/whole_dataset/inatur...        jpg
3  ../../data_bees_detection/whole_dataset/inatur...        jpg
4  ../../data_bees_detection/whole_dataset/inatur...        jpg

# 3. RÃ©partition des bdd par esp dans le dataset final

In [ ]:
df = pd.read_csv('../datafiles/classification/')